<!DOCTYPE html>
<html lang="da" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Alle bøger</title>
</head>
<body>

<div class="books">

        <table>
            <thead>
            <tr>
                <th>Titel</th>
                <th>Forfatter</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Titel</td>
                <td th:text="${book.author.name}">Forfatter</td>
                <td>
                    <form action="/cart/add" method="post">
                        <input type="hidden"
                               name="isbn"
                               th:value="${book.isbn}">
                        <button type="submit">Lån</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

</div>

</body>
</html>