<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mit bibliotek | My Library</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<header>
    <div class="logo">📚 My Library</div>
</header>

<main>
    <div class="card">

        <h1>
            Velkommen,
            <span th:text="${session.user.username}">bruger</span>!
        </h1>

        <a class="button" href="/myloans">Mine lån</a>

        <div th:if="${session.user.isAdmin}">
            <a class="button" href="/users">Alle brugere</a>
            <a class="button" href="/books">Alle bøger</a>
            <a class="button" href="/finduser.html">Find bruger</a>
            <a class="button" href="/booksbyauthor">Find forfatters bøger</a>

        </div>
    </div>

</main>

</body>
</html>